body {
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
}

a{
  color:white;
}

a:visited{
  color: #551A8B;
}

.section-header{
  color: #CBDEF1;
}
/*
 *
Side menu
 *
 */

.menu-background{
  background-image: url("bg.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #316B99;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  opacity: 0.6;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.grey-menu-txt{
  color: #CBDEF1;
}

#wrapper{
  margin: auto;
}

#navBtn{
  font-size:30px;
  cursor:pointer
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

#projects{
  margin: auto;
}

#about{
  margin: 20px 10px;
}

.title{
  margin: 0 auto;
  color:#CBDEF1;
}

.sub-title{
  border-bottom: 2px solid #2D78F4;
  margin:0px auto 10px;
  color:#9BB5CB;
}

.figcap-padding{
  padding: 10px;
}

/*
 *
Quotes carousel
 *
 */ 

#quotes-carousel{
  background-color: #9BB5CB;
}







/* 
 *
Skill bars 
 *
 */

.skills-container {
    width: 100%; 
    background-color: #ddd;
}

.skills {
    text-align: right; 
    padding-right: 20px; 
    line-height: 40px; 
    color: white; 
}

.html {
  width: 75%; 
  background-color: #e34f26;
} /* Green */
.css {
  width: 50%; 
  background-color: #0070BA;
} /* Blue */
.js {
  width: 25%; 
  background-color: #EFC91E;
} /* Red */
.rails {
  width: 40%; 
  background-color: #9C2E31;
} /* Dark Grey */
.sql{
  width: 15%;
  background-color: 	#81B805;
}

/*
 *
 Media queries
 *
 */

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  }



  